body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

#Header a:hover {
    color: orange;
}

.info {
    margin-top: 5%;
    margin-left: 3%;
    font-family: sans-serif;
    color: royalblue;
}

.section {
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    color: navy;
}

td {
    padding: 10px
}